@use "base/mixins";
@use "blocks/promo" as *;
@use "blocks/header" as *;
@use "blocks/buttons" as *;
@use "blocks/advantages" as *;
@use "blocks/titles" as *;
@use "blocks/consultation" as *;
@use "blocks/forms" as *;
@use "blocks/carousel" as *;
@use "blocks/catalog" as *;
@use "blocks/footer" as *;
@use "blocks/reviews" as *;
@use "media/media" as *;



* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}


.container {
    max-width: 950px;
    margin: 0 auto;
}