@use "base/variables";
@media (max-width: 972px) {
    .header {
        justify-content: space-evenly;
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
    }

    .slider img {
        width: 100%;
        height: auto;
        display: block;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            height: 15px;

            button {
                background-color: black;
                width: 15px;
                height: 15px;
                border: none;
                border-radius: 50%;
                padding: 0;
                font-size: 0;
            }
        }

        .slick-active {
            width: 15px;
            height: 15px;
            border: none;
            border-radius: 50%;
            padding: 0;


            button {
                background-color: gray;
            }
        }

    }

    .catalog {
        &__tab {
            width: 200px !important;
        }
    }

    .reviews {
        &__card {
            align-items: center;
        }
    }
}


@media (max-width: 638px) {
    .header {
        &__official {
            display: none;
        }
    }

    .promo {
        &__header {
            font-size: 30px;
        }

        &__subheader {
            font-size: 18px;
        }

        &__icons {
            width: 100%;
            justify-content: space-evenly;
        }
    }

    .advantages {

        .title {
            padding: 40px 0;
        }

        &__icons {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
    }

    .consultation {
        text-align: center;
        padding: 55px 0 55px 0;

        .feed-form {
            width: 100%;
            align-items: center;
        }

        &__descr {
            margin: 0px 10px;
        }
    }

    .title_left {
        text-align: center;
        font-size: 30px;
    }

    .feed-form {
        width: auto;
    }

    .button {
        &_submit {
            width: 50%;
        }
    }

    .carousel {
        &__inner {
            img {
                width: 100%;
            }
        }
    }

    .catalog {
        .title {
            padding: 20px 0 20px 0;
        }

        &__tabs {
            margin-top: 20px !important;
        }

        &__tab {
            width: 120px !important;
            font-size: 12px !important;
        }
    }

    .catalog-item {
        width: 250px !important;
        min-height: 440px !important;
        margin: 0 !important;
        padding: 5px 5px !important;

        hr {
            margin: 10px auto !important;
        }

        img {
            height: 50%;
        }

        &__content {
            transform: translateX(-105%) !important;
            margin: 0 !important;

            &_active {
                transform: translateX(0%) !important;
            }
        }
    }

    .reviews {
        &__card {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 15px;
        }

        &__right {
            text-align: center;
        }
    }

    .footer {
        &__info {
            width: 60%;
            padding: 15px;
            height: 200px;
        }

        &__addr {
            display: none;
        }

        &__social {
            gap: 15px;
        }
    }

}


@media (max-width: 420px) {
    .header {
        flex-direction: column;
        justify-content: center;

        a {
            margin-bottom: 10px;
        }
    }

    .promo {
        &__wrapper {
            margin-top: 50px;
        }
    }
}

@media (max-width: 380px) {
    .promo {

        &__header {
            font-size: 23px;
        }

        &__subheader {
            font-size: 15px;
        }

        &__wrapper {
            align-items: center;
        }

        .button {
            &_main {
                width: 250px;
                margin-top: 44px;
            }
        }
    }

    .advantages {
        background-color: #F6F6F6;

        &__icons {
            gap: 15px;
        }

        .title {
            font-size: 23px;

        }
    }

    .catalog {
        &__tabs {
            flex-direction: column;
        }

        &__tab {
            &:nth-child(1) {
                margin-left: -100px;
            }

            &:nth-child(2) {
                margin: 10px 0;
            }

            &:nth-child(3) {
                margin-left: 100px;
            }
        }
    }

    .footer {
        &__info {
            width: 60%;
            padding: 15px;
            height: 130px;
        }

        &__addr {
            display: none;
        }

        &__phone {
            margin-bottom: 15px;
            font-size: 18px;
        }

        img {
            width: 40px;
            height: 40px;
        }

        &__social {
            gap: 10px;
        }
    }


}